body {
    background-color: #1d1a05;
    padding: 0;
    margin: 0;
}

.body2 {
    display: flex;
    gap: 75px;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}


a:hover {
    opacity: 75%;
}

.page-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px 100px;
    gap: 50px;
    background-color: #360d1b;
    color: #f9e900;
}

/* -----HEADER SECTOR----- */
.header {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
}

.header-links {
    font-size: 18px;
}

.header-links ul {
    display: flex;
    gap: 50px;
}

.header-links a {
    font-family: monospace;
    color: #f9e900;
}

.header-links a:hover {
    color: cyan;
}

.logo p {
    font-family: monospace;
    font-weight: 700;

}

.logo a{
    color: #f9e900;
}

/* -----HERO SECTOR----- */
.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #f9e900;
    flex-shrink: 0;
    width: 1250px;
}

.hero-main {
    font-size: 50px;
    font-weight: 800;
    margin: 0px;
}

.hero-photo {
    width: 600px;
    height: 350px;
    border-radius: 5px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    flex-shrink: 0;
}

.hero-button {
    background-color: #c33149;
    border: 0;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    width: 100px;
}

.hero-button a {
    color: white;
    display: block;
    padding: 8px 20px;
    margin: 0;
}

.hero-txt {
    margin: 0px;
}

.hero-main {
    flex: 1;
    margin: auto;
}

/* -----INFO SECTOR----- */

.information {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.info-block {
    display: flex;

    flex-direction: column;
    align-items: center;
    width: 1000px;
}

.info-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.info-pictures p {
    width: 200px;
    text-align: center;
}

.info-picture {
    background-color: #1F2937;
    height: 200px;
    width: 200px;
    /* border: 2px solid lightblue; */
    border-radius: 10px;
}

.info-block-tr {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.info-pictures-tr {
    display: flex;
    justify-content: center;
}

.info-picture-tr {
    background-color: #1F2937;
    flex: 1;
    height: 300px;
    /* border: 2px solid lightblue; */
}

.info-square-tr{
    flex: auto
}

.info-picture-tr img {
    flex: 1;
    display: inline;
    height: 100%;
    width: 100%;
}

.info-picture img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: block;
}

.info-img:hover {
    box-shadow: 5px 5px 3px #7c1e3d;
}

.info-btn:hover img {
    height: 105%;
    width: 105%;
}


.info-txt {
    font-size: 36px;
    font-weight: 800;
}

.info-square {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -----QUOTE SECTOR----- */

.quote-sector {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

    background-color: #ebd4cb;
}


.quote{
    display: flex;
    width: 1000px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.quote-txt {
    display: flex;
    gap: 50px;
    font-size: 30px;

}

.quote-name {
    align-self: flex-end;
}


/* -----SIGN-UP SECTOR----- */

.signup-sector {
    color: black;
    display: flex;
    justify-content: center;

}

.signup-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c33149;
    color: #360d1b;
    border-radius: 5px;
    width: 1000px;
    height: 100px;
    gap: 100px;
}

.signup-box button {
    background-color: #ffe9f3;
    border: 0;
    border-radius: 5px;
    width: 100px;
    margin: 0;
    padding: 0;
}
.signup-box a {
    display: block;
    color: black;
    margin: 0;
    padding: 8px 20px;
}

.signup-text {
    width: 600px;
}

.signup-text h2 {
    margin: 0;
    padding: 0;
}

.signup-text p {
    margin: 0;
    padding: 0;
}

.footer-sector {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    background-color: #1d1a05
}